<div class="card m-2" style="max-width: 500px;">
  <div class="row no-gutters">
    <div class="col-md-4 my-auto">
      <a href="{{ card.href | default: include.href }}" class="card-link">
        <img src="{{ site.amazon-s3 }}/{{ card.img | default: include.img }}.png" class="card-img" alt="{{ card.title | default: include.title }}">
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="{{ card.href | default: include.href }}" class="card-link">
          <h5 class="card-title">{{ card.title | default: include.title }}</h5>
        </a>
        <p class="card-text">{{ card.text | default: include.text }}</p>
        <div class="card-body">
          <a href="{{ card.href | default: include.href }}" class="card-link">
            {{ card.button | default: include.button }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
