
<h4 class="pt-4 title-box">Centros de Servicio Autorizado Grupo PV</h4>

<div class="accordion" id="bootstrapAccordion">
  {% for section in page.customers-sections %}
    <div class="card">
      <div class="card-header" id="heading{{ section.name }}">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ section.name }}" aria-expanded="true" aria-controls="collapse{{ section.name }}">
            {{ section.name }}
          </button>
        </h2>
      </div>
      <div id="collapse{{ section.name }}" class="collapse" aria-labelledby="heading{{ section.name }}" data-parent="#bootstrapAccordion">
        {% for customer in section.customers %}
          {% assign customer-domain = customer | remove: "." %}
          {% capture customer-address %}
            {{ site.data.customers[customer-domain].address[0].street }},
            {{ site.data.customers[customer-domain].address[0].block }},
            {{ site.data.customers[customer-domain].address[0].city }}
          {% endcapture %}
          <div class="card m-2" style="max-width: 500px;">
            <div class="row no-gutters">
              <div class="col-md-4 my-auto">
                <img src="{{ site.amazon-s3 }}/components/logos/progressive/img/{{ customer | replace:'.',' ' | truncatewords: 1,"" }}.png" class="card-img" alt="{{ customer }}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-customer">{{ site.data.customers[customer-domain].title }}</h5>
                  <p class="card-address">{{ customer-address }}</p>
                  <p class="card-phone">{{ site.data.customers[customer-domain].address[0].phone[0].number }}</p>
                  <div class="card-body">
                    <a href="{{ site.data.customers[customer-domain].url }}" class="card-website">
                      {{ site.data.customers[customer-domain].url }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
