<h4 class="pt-4 title-box">{{ include.title }}</h4>

<div class="accordion" id="bootstrapAccordion">
  {% for section in include.sections %}
    {% assign section_id = section.name | slugify %}
    <div class="card">
      <div class="card-header" id="heading{{ section_id }}">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ section_id }}" aria-expanded="true" aria-controls="collapse{{ section_id }}">
            {{ section.name }}
          </button>
        </h2>
      </div>
      <div id="collapse{{ section_id }}" class="collapse" aria-labelledby="heading{{ section_id }}" data-parent="#bootstrapAccordion">
        {% for customer in section.customers %}
          {% assign customer-domain = customer | remove: "." %}
          {% assign customer-title = site.data.customers[customer-domain].title %}
          {% assign customer-logo = 'components/logos/progressive/img/' | append: customer | replace:'.',' ' | truncatewords: 1,"" %}
          {% assign customer-url = site.data.customers[customer-domain].url %}
          {% capture customer-text %}
            {{ site.data.customers[customer-domain].address[0].street }},
            {{ site.data.customers[customer-domain].address[0].block }},
            {{ site.data.customers[customer-domain].address[0].city }}
            <p class="card-phone">{{ site.data.customers[customer-domain].address[0].phone[0].number }}</p>
          {% endcapture %}
          {% include components/cards/bootstrap-h.liquid
              title=customer-title
              img=customer-logo
              text=customer-text
              button=customer-url
              href=customer-url
          %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
