<div class="container-fluid px-3">
  <div class="card-group">
    {% for featured-product in page.featured-products %}
      {% unless site.links.featured-product[featured-product.img].disabled %}
        <div class="card col-md-6">
          <a href="{{ featured-product.href | relative_url }}">
            <img src="{{ site.amazon-s3 }}/components/product-cards/featured-product/img/{{ featured-product.img }}.png" class="card-img-top" alt="{{ featured-product.img }}" data-appear-animation="fadeInDown">
          </a>
          <div class="card-body" data-appear-animation="fadeInDown">
            <h5 class="card-title">{{ featured-product.product }}</h5>
            <p class="card-text">{{ featured-product.text }}</p>
          </div>
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>