<div class="container-fluid">
  <div class="card-group justify-content-around">
    {% for featured-product in page.featured-products %}
      {% unless site.links.featured-product[featured-product.img].disabled %}
        <div class="card">
          <a href="{{ featured-product.href | relative_url }}">
            <img
              src="{{ site.amazon-s3 }}/components/product-cards/featured-product/img/{{ featured-product.img }}.png"
              class="card-img-top"
              alt="{{ featured-product.img }}"
              data-appear-animation="fadeInDown">
          </a>
          <div class="card-body" data-appear-animation="fadeInDown">
            <h6 class="card-title">{{ featured-product.product }}</h6>
            <p class="card-text">{{ featured-product.text }}</p>
            <div class="card-group d-flex flex-column">
              {% for link in featured-product.links %}
                <div class="d-none d-xl-block">
                  <a class="card-link d-flex aling-item-start" href="{{ link.href | relative_url }}">
                    {{ link.name }}
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>