<div id="product-generals" class="col-xs-12 col-sm-12 col-md-8" data-appear-animation="fadeInUp">
    <h3 id="{{ i18n-id }}" class="product-description">{% if i18n-description %}{{ i18n-description }}{% else %}{{ page.description }}{% endif %}</h3>
    <p class="product-model">{{ site.data.i18n.common.product-layout[site.lang].model | default: 'Model' }}: <strong>{% if i18n-title %}{{ i18n-title }}{% else %}{{ page.title }}{% endif %}</strong></p>
    <p class="product-brand">{{ site.data.i18n.common.product-layout[site.lang].brand | default: 'Brand' }}: <strong>{{ page.brand }}</strong></p>
    <p class="product-commercial {% unless page.commercial %}{{ 'd-none' }}{% endunless %}">{{ site.data.i18n.common.product-layout[site.lang].commercial | default: 'Commercial' }}: <strong>{{ page.commercial }}</strong></p>
    <p class="product-sat-code {% unless page.sat-code %}{{ 'd-none' }}{% endunless %}">{{ site.data.i18n.components.product-cards[site.lang].product-generals.sat-code.title | default: 'SAT code' }}: <strong>{{ page.sat-code }}</strong></p>
    <div class="product-price">

      {% assign collections = site.collections | where: "label", page.collection %}
      {% for collection in collections %}

        {% if collection.prices == false or page.price == 'disabled' %}

          <span class="badge badge-primary text-white">
            <a href="{{ '/our-offices/' | relative_url }}" title="Our offices" class="white">
              Contáctanos para un precio especial
            </a>
          </span>

        {% else %}

          {% capture price %}
            {% unless site.product.price.disabled %}
              {% assign price-size = page.price | downcase | split: '.' | last | size %}
              {% if page.price %}{{ page.price | prepend: '$ ' }}{% endif %}{% if price-size == 1 %}{{ "0" }}{% endif %}
              {% if page.currency %}
                {{ page.currency | prepend: ' ' }}
              {% endif %}
            {% endunless %}
          {% endcapture %}
          <span class="badge badge-primary text-white {% if page.promotion-price and site.original == false %}{{ 'disabled-price' }}{% endif %}">{{ price | strip }}</span>

          {% capture promotion-price %}
            {% unless site.original %}
              {% if site.special-offers.customers %}
                {% assign promotion-price-size = page.promotion-price | downcase | split: '.' | last | size %}
                {% if page.promotion-price %}{{ page.promotion-price | prepend: '$ ' }}{% endif %}{% if promotion-price-size == 1 %}{{ "0" }}{% endif %}
                {% if page.promotion-currency %}
                  {{ page.promotion-currency | prepend: ' ' }}
                {% endif %}
              {% else %}
                <a href="{{ '/our-offices/' | relative_url }}" title="Our offices" class="white">
                  Contáctanos para un precio especial
                </a>
              {% endif %}
            {% endunless %}
          {% endcapture %}
          <span class="badge badge-primary text-white">{{ promotion-price | strip }}</span>

        {% endif %}
      {% endfor %}

    </div>
</div>
