<div class="col-12 col-md-6 col-lg-4 col-xl-3 pb-4 {{ doc.brand | downcase }} {{ doc.commercial | downcase }}" data-component="product-cards/progressive">

  <div class="p-2 m-0" style="border: 1px solid #eee; border-radius: 15px; -moz-border-radius: 15px;">
    {% if doc.ribbon
      and site.components.ribbon != 'disabled'
      and site.components.ribbon[doc.collection] != 'disabled'
      and site.components.ribbon[i18n-id] != 'disabled' %}
      {% include components/ribbons/font-awesome.liquid
         label=doc.ribbon
         color-class=doc.ribbon-color
      %}
    {% else %}
      <span class="fa-layers-text text-white" data-fa-transform="down-19 shrink-20">.</span>
    {% endif %}

    <!-- Disable collection.products.detail option -->
    <!-- <a {# if doc.menu-name or collection.products.detail or page.collection == 'pages' #}{# doc.url | relative_url | prepend: 'href="' | append: '"' #}{# endif #}> -->
    <a href="{{ doc.url | relative_url }}">
      <img id="{{ i18n-id }}" src="{{ doc.image }}"
           class="d-block mx-auto cover-image opacity-80"
           alt="{{ i18n-title | default: doc.title | default: i18n-id }}" />
    </a>

    <!-- Disable collection.products.detail option -->
    <!-- id="{{ i18n-id }}" {# if doc.menu-name or collection.products.detail or page.collection == 'pages' #}{# doc.url | relative_url | prepend: 'href="' | append: '"' #}{# endif #}> -->
    <a class="text-primary d-block text-center font-weight-bold text-decoration-none mt-1"
       id="{{ i18n-id }}" href="{{ doc.url | relative_url }}">
      {{ i18n-title | default: doc.title }}
    </a>

    <div class="text-center font-weight-bold small mt-2 {{ include.brand-class }}">
      {{ doc.brand }} <span class="commercial">{{ doc.commercial }}</span>
    </div>

    <div class="description text-secondary text-center small line-clamp-2 mx-1 mt-2"
         id="{{ i18n-id }}">{{ doc.i18n[site.lang].description | default: i18n-description | default: doc.description }}</div>

    {% unless collection.prices == false 
           or site.product.price.disabled
           or doc.price == 'disabled' %}

        <div class="text-right mb-1 mt-2">

          <!-- start price -->
          {% capture price %}
            {% assign doc-price-size = doc.price | downcase | split: '.' | last | size %}
            {{ doc.price | prepend: '$ ' }}{% if doc-price-size == 1 %}{{ "0" }}{% endif %}
            {{ doc.currency | prepend: ' ' }}
          {% endcapture %}

          {% if doc.promotion-price
            and page.collection == 'pages'
            or site.original == false %}
            {% assign price-class = 'disabled-price' %}
          {% else %}
            {% assign price-class = '' %}
          {% endif %}

          {% if doc.price %}
            <span class="product-price badge badge-primary text-white text-sm {{ include.price-class | default: price-class }}">
              {{ price | strip }}
            </span>
          {% endif %}
          <!-- end price -->

          <!-- start promotional-price -->
          {% capture promotion-price %}
            {% assign promotion-price-size = doc.promotion-price | downcase | split: '.' | last | size %}
            {{ doc.promotion-price | prepend: '$ ' }}{% if promotion-price-size == 1 %}{{ "0" }}{% endif %}
            {{ doc.promotion-currency | prepend: ' ' }}
          {% endcapture %}

          {% if doc.promotion-price
            and page.collection == 'pages'
            or  site.special-offers.customers
            and site.original == false %}
              <span class="badge badge-primary text-white text-sm">
                {{ promotion-price | strip }}
              </span>
          {% endif %}
          <!-- end promotional-price -->

        </div>

    {% endunless %}

  </div>

</div>
