<div class="col-12 col-md-6 col-lg-4 col-xl-3 pb-4 {{ doc.brand | downcase }} {{ doc.commercial | downcase }}" data-component="product-cards/progressive">

  <div class="p-2 m-0" style="border: 1px solid #eee; border-radius: 15px; -moz-border-radius: 15px;">
    {% if doc.ribbon%}
      {% include components/ribbons/font-awesome.liquid
         label=doc.ribbon
         color-class=doc.ribbon-color
      %}
    {% else %}
      <span class="fa-layers-text text-white" data-fa-transform="down-19 shrink-20">.</span>
    {% endif %}

    <a {% if doc.menu-name or collection.products.detail or doc.menu-name %}{{ doc.url | relative_url | prepend: 'href="' | append: '"' }}{% endif %}>
      <img id="{{ i18n-id }}" class="d-block mx-auto cover-image opacity-80" src="{{ doc.image }}" alt="{% if i18n-title %}{{ i18n-title }}{% else %}{{ doc.title | default: i18n-id }}{% endif %}" />
    </a>

    <a class="text-primary d-block text-center font-weight-bold text-decoration-none mt-1" id="{{ i18n-id }}" {% if doc.menu-name or collection.products.detail or doc.menu-name %}{{ doc.url | relative_url | prepend: 'href="' | append: '"' }}{% endif %}>
      {% if i18n-title %}{{ i18n-title }}{% else %}{{ doc.title }}{% endif %}
    </a>

    <div class="text-center font-weight-bold small mt-2">
      {{ doc.brand }} <span class="commercial">{{ doc.commercial }}</span>
    </div>

    <div id="{{ i18n-id }}" class="description text-secondary text-center small line-clamp-2 mx-1 mt-2">
      {% if i18n-description %}{{ i18n-description }}{% else %}{{ doc.description }}{% endif %}
    </div>

    {% assign collections = site.collections | where: "label", page.collection %}
    {% for collection in collections %}
      {% unless collection.prices == false %}

        {% unless site.product.price.disabled %}
          <div class="text-right mb-1 mt-2">

            {% capture price %}
              {% assign doc-price-size = doc.price | downcase | split: '.' | last | size %}
              {% if doc.price %}{{ doc.price | prepend: '$ ' }}{% endif %}{% if doc-price-size == 1 %}{{ "0" }}{% endif %}
              {% if doc.currency %}
                {{ doc.currency | prepend: ' ' }}
              {% endif %}
            {% endcapture %}
            <span class="product-price badge badge-primary text-white text-sm {% if doc.promotion-price and site.original == false %}{{ 'disabled-price' }}{% endif %}">{{ price | strip }}</span>

            {% capture promotion-price %}
              {% unless site.original %}
                {% if site.special-offers.customers %}
                  {% assign promotion-price-size = doc.promotion-price | downcase | split: '.' | last | size %}
                  {% if doc.promotion-price %}{{ doc.promotion-price | prepend: '$ ' }}{% endif %}{% if promotion-price-size == 1 %}{{ "0" }}{% endif %}
                  {% if doc.promotion-currency %}
                    {{ doc.promotion-currency | prepend: ' ' }}
                  {% endif %}
                {% endif %}
              {% endunless %}
            {% endcapture %}
            <span class="badge badge-primary text-white text-sm">{{ promotion-price | strip }}</span>

          </div>
        {% endunless %}

      {% endunless %}
    {% endfor %}

  </div>

</div>
