<a class="{{ include.class }}" href="{{ '/' | relative_url }}" data-component="logos/progressive">
  <img src="{{ site.amazon-s3 }}/components/logos/progressive/img/{{ site.domain | replace:'.',' ' | truncatewords: 1,"" }}.png"
       class="logo-img"
       alt="{{ site.title }}"
       data-last-deploy="{{ site.time }}"/>
</a>
