---
published: true
title: Awards
permalink: /awards/
---
<div class="container">
  {% for category in site.awards %}
      {% assign customer-domain = site.domain | replace:'.',' ' | truncatewords: 1,"" %}
      <h4 class="pt-4">{{ category.label }}</h4>
      <div class="row">
        {% for award in category.awards %}
          {% assign award-type = award | split: '-' | first %}
          {% assign award-year = award | split: '-' | last %}
          {% capture award-url %}
            {{ site.amazon-s3 }}/assets/img/awards/{{ customer-domain }}/{{ award-type }}/{{ award-year }}.png
          {% endcapture %}
          <div class="col-6 col-lg-4">
            <a class="d-block mb-3" href="{{ award-url | strip }}">
              <img class="product-image" src="{{ award-url }}" alt="{{ award-year | upcase }}"/>
            </a>
            <a class="d-block text-primary text-decoration-none text-center font-weight-bold" href="{{ award-url | strip }}">
              {{ award-year | upcase }}
            </a>
            <div class="text-center">
              {{ category.type }} {{ award-type | upcase }}
            </div>
          </div>
        {% endfor %}
      </div>
  {% endfor %}
</div> <!-- /container -->
