<div class="container programming-software">
  <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div>
          <a href="{{ site.amazon-s3 }}/special-offers/pdf/documents/current-month-year-base64-hash/monthly-promotions.pdf">
            <img class="product-image" src="{{ site.amazon-s3 }}/assets/pdf/formats/purchase-order-print.pdf" alt="pdf" />
          </a>
        </div>
        <div class="product-model">
          <a href="{{ site.amazon-s3 }}/special-offers/pdf/documents/current-month-year-base64-hash/monthly-promotions.pdf">
            {{ site.data.i18n.common.pages[site.lang].monthly-promotions.title }}
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div>
          <a href="https://s3.amazonaws.com/online.fliphtml5.com/ggpn/lepq/index.html">
            <img class="product-image" src="/img/pages/footer/monthly-promotions/magazine.png" alt="magazine" />
          </a>
        </div>
        <div class="product-model">
          <a href="https://s3.amazonaws.com/online.fliphtml5.com/ggpn/lepq/index.html">
            {{ site.data.i18n.common.pages[site.lang].magazine.title }}
          </a>
        </div>
      </div>
  </div>
</div> <!-- /container -->
