<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" role="tablist" aria-orientation="vertical">
    {% for tab in include.vertical-tabs %}

      {% if forloop.first == true %}
        {% assign tab_class = 'active' %}
      {% else %}
        {% assign tab_class = '' %}
      {% endif %}

      {% capture tab_id %}
        tab-{{ tab.name | downcase | replace: ' ', '-' }}
      {% endcapture %}

      <a class="nav-link text-capitalize {{ tab_class }}" data-toggle="pill" href="#{{ tab_id | strip }}" aria-controls="{{ tab_id | strip }}" aria-selected="{{ forloop.first }}">
        {{ tab.name }}
      </a>
    {% endfor %}
  </div>

  <div class="tab-content w-100" id="v-pills-tabContent">
    {% for tab in include.vertical-tabs %}

      {% if forloop.first == true %}
        {% assign tab_class = 'show active' %}
      {% else %}
        {% assign tab_class = '' %}
      {% endif %}

      {% capture tab_id %}
        tab-{{ tab.name | downcase | replace: ' ', '-' }}
      {% endcapture %}

      <div class="tab-pane fade {{ tab_class }}" id="{{ tab_id | strip }}" role="tabpanel" aria-labelledby="{{ tab_id | strip | append: '-tab' }}">
        <div class="container">
          {% include {{ tab.component | prepend: 'components/' | append: '.liquid' }} params=tab.params %}
        </div>
      </div>

    {% endfor %}
  </div>
</div>
