{% if site.original -%}
  {% if site.title == 'Grupo PV' %}
    {% assign classes = "col-md-8" %}
  {% elsif site.title == 'Your awesome title' %}
    {% assign classes = "col-md-8" %}
  {% else -%}
    {% assign classes = "col-md-11" %}
  {% endif -%}
{% else -%}
  {% assign classes = "col-md-6" %}
{% endif -%}

<div class="copyright {{ classes }} d-flex align-items-center">
  <div>
    <p>{{ site.data.i18n.common.footer[site.lang].price_list_message.title }}</p>
    <p>{{ site.data.i18n.common.footer[site.lang].price_changes.title }}</p>
    {% if site.original %}
      <p>{{ site.data.i18n.common.footer[site.lang].privacy.title }}</p>
    {% else %}
      <span class="lead">
        © Copyright
        <span id="copyright-year"></span>
        <a class="text-decoration-none" href="{{ site.url }}">
          {{ site.title }}
        </a>
      </span>
      <script>
        document.getElementById("copyright-year").innerHTML = new Date().getFullYear();
      </script>
    {% endif %}
  </div>
</div>
