<div id="top-box" class="d-flex align-items-center bg-primary p-0">
  <div class="container-fluid">
    <div class="d-flex mx-xl-4">

      <span id="exchange-rates" class="d-flex mr-auto text-white mt-2">
        {% if site.exchange-rates.usd %}
          {% include components/exchange-rates/progressive.liquid %}
        {% endif %}
      </span> <!-- end exchange-rates info -->

      <a class="btn btn-sm btn-primary text-white border-0 mr-3" href="{{ '/our-offices/' | relative_url }}"> <!-- start location button -->
        <i class="fas fa-map-marker-alt fa-lg" data-fa-transform="shrink-1 down-1"></i>
        <span class="d-none d-lg-inline" style="font-size:12px">
          {% if site.lang == 'es_MX' %}Ubícanos{% else %}Locate us{% endif %}
        </span>
      </a> <!-- end location button -->

      <a class="btn btn-sm btn-primary text-white border-0 mr-3" href="{{ '/contact/' | relative_url }}"> <!-- start contact button -->
        <i class="fas fa-envelope fa-lg" data-fa-transform="grow-1 down-1"></i>
        <span class="d-none d-lg-inline" style="font-size:12px">
          {% if site.lang == 'es_MX' %}Contáctanos{% else %}Contact us{% endif %}
        </span>
      </a> <!-- end contact button -->

      <a class="btn btn-sm btn-primary text-white border-0 mr-3" href="tel:{{ site.address[0].phone[0].number }}"> <!-- start phone button -->
        <i class="fas fa-phone fa-lg" data-fa-transform="shrink-1 down-1"></i>
        <span class="d-none d-lg-inline" style="font-size:12px">
          {{ site.address[0].phone[0].number }}
        </span>
      </a> <!-- end phone button -->

      <span id="sign-in">
        <span id="sign-in-welcome" class="d-none d-md-inline"></span>
        <strong id="sign-in-name" class="text-white"></strong>
        <a id="login-button" class="btn btn-sm btn-primary text-white border-0 d-none" href="{{ '/' | relative_url }}">
          <i class="fas fa-sign-in-alt fa-lg" data-fa-transform="left-1 down-1"></i>
          <span class="d-none d-sm-inline" style="font-size:12px">{{ site.data.i18n.common.firebase[site.lang].login.title | default: 'Login' }}</span>
        </a>
        <button id="logout-button" class="btn btn-sm btn-primary text-white border-0 d-none">
          <i class="fas fa-sign-out-alt fa-lg" data-fa-transform="left-1 down-1"></i>
          <span class="d-none d-sm-inline" style="font-size:12px">{{ site.data.i18n.common.firebase[site.lang].logout.title | default: 'Logout' }}</span>
        </button>
      </span> <!-- end login button -->

    </div>
    {% include components/topbars/progressive.js %}
  </div>
</div>

<script type="text/javascript">
  const path = location.pathname.substring(1);
  document.getElementById('login-button').href = '/login/?mode=select&signInSuccessUrl=/' + path;
</script>
